@font-face {
    font-family: RocGrotesk-medium;
    src: url("rocgrotesk-medium.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-regular;
    src: url("rocgrotesk-regular.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-wide-black;
    src: url("rocgrotesk-wide-black.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-wide-reg;
    src: url("rocgrotesk-wide-reg.woff") format("woff");
   
}


body {
    background-color: #ff434a;
}


.page-container {
    position: relative;
    width: 1200px;     
    height: 900px;    
    margin: 0 auto;   
    background-color: #ff434a;
    overflow: visible; 
}



.bubble-img {
    width: 100%;
    height: auto;
    display: block;
}

.bubble {
    position: absolute;
}


.top-bubble {
    width: 700px;
    top: 80px;
    left: 80px;
}

.top-text {
    position: absolute;
    top: 120px;
    left: 140px;
    width: 480px;
    font-family: RocGrotesk-regular;
    font-size: 19px;
    line-height: 28px;
    pointer-events: none;
}


.bottom-bubble {
    width: 500px;
    top: 430px;
    left: 200px;
}

.bottom-text {
    position: absolute;
    top: 130px;
    left: 200px;
    width: 310px;
    font-family: RocGrotesk-regular, sans-serif;
    font-size: 17px;
    line-height: 28px;
    pointer-events: none;
}


.nicholas {
    position: absolute;
    width: 500px;
    top: 200px;
    left: 660px;
    display: block;
}

.grid-page {
    background: #ff434a; 
    width: 100%;
    height: 100vh;
    padding: 80px;
    box-sizing: border-box;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
}

.box {
    width: 260px;    
    height: 260px;  
    background: white;
    border-radius: 25px;
}

.small-note {
    font-family: RocGrotesk-regular;
    color: black;
    margin-top: 20px;
    text-align: right;
    padding-right: 60px;
}

.box {
    width: 260px;
    height: 260px;
    background: white;
    border-radius: 25px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
}

.box:hover {
    transform: scale(1.5); 
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

#receipe {
    width: 85%;
    border: none;
    outline: none;
    font-size: 14px;
    text-align: center;
    background: transparent;
}

.arrowLeft,
.arrowRight {
    position: fixed;
    bottom: 20px;
    font-size: 40px;       
    font-weight: 300;      
    color: black;
    text-decoration: none;
    font-family: RocGrotesk-wide-reg;
    z-index: 9999;
}


.arrowLeft {
    left: 20px;
}


.arrowRight {
    right: 20px;
}

