@font-face {
    font-family: RocGrotesk-medium;
    src: url("rocgrotesk-medium.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-regular;
    src: url("rocgrotesk-regular.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-wide-black;
    src: url("rocgrotesk-wide-black.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-wide-reg;
    src: url("rocgrotesk-wide-reg.woff") format("woff");
   
}


body {
    background-color: #dd5b55;
}


.page-container {
    position: relative;
    width: 1200px;     
    height: 900px;    
    margin: 0 auto;   
    background-color: #dd5b55;
    overflow: visible; 
}



.bubble-img {
    width: 100%;
    height: auto;
    display: block;
}

.bubble {
    position: absolute;
}


.top-bubble {
    width: 700px;
    top: 80px;
    left: 80px;
    z-index: 10;
}

.top-text {
    position: absolute;
    top: 120px;
    left: 140px;
    width: 480px;
    font-family: RocGrotesk-regular;
    font-size: 19px;
    line-height: 28px;
    pointer-events: none;
}


.bottom-bubble {
    width: 500px;
    top: 430px;
    left: 200px;
    z-index: 10;
}

.bottom-text {
    position: absolute;
    top: 130px;
    left: 200px;
    width: 310px;
    font-family: RocGrotesk-regular, sans-serif;
    font-size: 17px;
    line-height: 28px;
    pointer-events: none;
}


.nicholas {
    position: absolute;
    width: 460px;
    top: 150px;
    left: 660px;
    z-index: 0;
    display: inline-block; 
}

.nicholas img {
    width: 100%;
    height: auto;
    display: block;

   
    mask-image: radial-gradient(
        ellipse 45% 72% at 54% 57%,
        rgba(0,0,0,1) 42%,
        rgba(0,0,0,0) 100%
    );

    -webkit-mask-image: radial-gradient(
        ellipse 45% 72% at 54% 57%,
        rgba(0,0,0,1) 42%,
        rgba(0,0,0,0) 100%
    );
}


.grid-page {
    background: #dd5b55; 
    width: 100%;
    height: 100vh;
    padding: 80px;
    box-sizing: border-box;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
}

.box {
    width: 260px;    
    height: 260px;  
    background: url("butterChicken.jpg") center/cover no-repeat;
    border-radius: 25px;
}

.small-note {
    font-family: RocGrotesk-regular;
    color: black;
    margin-top: 20px;
    text-align: right;
    padding-right: 90px;
    font-size: 20px;
}

.box1 {
    width: 260px;
    height: 260px;
    border-radius: 25px;
    background: url("mono.jpeg") center/cover no-repeat;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
}


.box1:hover {
    transform: scale(1.5); 
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}


.box2 {
    width: 260px;
    height: 260px;
    border-radius: 25px;
    background: url("sticky rice.jpeg") center/cover no-repeat;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
}


.box2:hover {
    transform: scale(1.5); 
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}


.box3 {
    width: 260px;
    height: 260px;
    border-radius: 25px;
    background: url("leo.jpeg") center/cover no-repeat;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
}


.box3:hover {
    transform: scale(1.5); 
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}


.box4 {
    width: 260px;
    height: 260px;
    border-radius: 25px;
    background: url("mala.jpeg") center/cover no-repeat;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
}

.box4:hover {
    transform: scale(1.5); 
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}


.box5 {
    width: 260px;
    height: 260px;
    border-radius: 25px;
    background: url("ichi.jpeg") center/cover no-repeat;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
}


.box5:hover {
    transform: scale(1.5); 
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}



.box6 {
    width: 260px;
    height: 260px;
    border-radius: 25px;
    background-color: white;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
}


.box6:hover {
    transform: scale(1.5); 
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}



#receipe {
    width: 85%;
    border: none;
    outline: none;
    font-size: 14px;
    text-align: center;
    background: transparent;
}


.arrowLeft,
.arrowRight {
    position: fixed;
    bottom: 20px;
    z-index: 9999;
}

.arrowLeft img,
.arrowRight img {
    width: 50px;      
    height: auto;
    display: block;
}

.arrowLeft {
    left: 20px;
}

.arrowRight {
    right: 20px;
}

.bottom-text {
    opacity: 0;
    transition: opacity 0.3s ease;
}

