@font-face {
    font-family: RocGrotesk-medium;
    src: url("rocgrotesk-medium.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-regular;
    src: url("rocgrotesk-regular.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-wide-black;
    src: url("rocgrotesk-wide-black.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-wide-reg;
    src: url("rocgrotesk-wide-reg.woff") format("woff");
   
}


body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #c4c3c4;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
    padding-bottom: 200px;
}


.text h1 {
    color: #000000;
    font-family: RocGrotesk-wide-black;
    font-size: 120px;
    margin: 40px;
    position: relative;
    z-index: 5;
}

.image-layer {
    position: relative;
}


.text-box {
    width: 33%;
    margin-top: 200px;
    padding-left: 50px;
    position: relative;
    top: -150px;
    z-index: 1;
}



.text-box p {
    color: #000000;
    font-family: RocGrotesk-regular;
    font-size: 18px;
    line-height: 1.5;
}



.conveyor {
    position: relative;
    width:600px;
    transform: scale(1.6);
    top: -540px;
    left:580px;
    z-index:0;
}

.conveyor img {
    width: 600px;   
    height: auto;
}






.arrowLeft,
.arrowRight {
    position: fixed;
    bottom: 20px;
    z-index: 9999;
}

.arrowLeft img,
.arrowRight img {
    width: 50px;      
    height: auto;
    display: block;
}

.arrowLeft {
    left: 20px;
}

.arrowRight {
    right: 20px;
}