@font-face {
    font-family: RocGrotesk-medium;
    src: url("rocgrotesk-medium.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-regular;
    src: url("rocgrotesk-regular.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-wide-black;
    src: url("rocgrotesk-wide-black.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-wide-reg;
    src: url("rocgrotesk-wide-reg.woff") format("woff");
   
}


body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
    padding-bottom: 200px;
}


.text h1 {
    color: #000000;
    font-family: RocGrotesk-wide-black;
    font-size: 120px;
    margin: 40px;
    position: relative;
    z-index: 5;
}

.image-layer {
    position: relative;
}


.text-box {
    width: 33%;
    margin-top: 200px;
    padding-left: 50px;
    position: relative;
    top: -150px;
}



.text-box p {
    color: #000000;
    font-family: RocGrotesk-regular;
    font-size: 18px;
    line-height: 1.5;
}





.arrowLeft,
.arrowRight {
    position: fixed;
    bottom: 20px;
    font-size: 40px;       
    font-weight: 300;      
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: RocGrotesk-wide-reg;
    z-index: 9999;
}


.arrowLeft {
    left: 20px;
}


.arrowRight {
    right: 20px;
}

