@font-face {
    font-family: RocGrotesk-medium;
    src: url("rocgrotesk-medium.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-regular;
    src: url("rocgrotesk-regular.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-wide-black;
    src: url("rocgrotesk-wide-black.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-wide-reg;
    src: url("rocgrotesk-wide-reg.woff") format("woff");
   
}

body {
    background-color: #dd5b55;
}


h1 {
    color: white;
    font-size: 80px;   
    font-family: RocGrotesk-wide-black;
    margin-top: 60px;
    text-align: center;
}

h1:hover{
  color:greenyellow
}

p {
    color: black;
    font-size: 18px;
    font-family: RocGrotesk-regular;
    position: absolute;
    top: 300px;        
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    animation: blink 2s infinite;
}


@keyframes blink {
  0% { opacity: 1; visibility: visible; }
  40% { opacity: 1; visibility: visible; }
  50% { opacity: 0; visibility: hidden; }
  90% { opacity: 0; visibility: hidden; }
  100% { opacity: 1; visibility: visible; }
}




.radio-container {
    position: relative;
    width: fit-content;   
    margin: 0 auto;       
    bottom:70px;
}


.radio-container img {
    display: block;
    width: 400px;
    position: relative;
    bottom: -40px;   
    z-index: 0;
}

.box {
    width: 250px;
    height: 230px;
    background: white;
    border-radius: 10px;
    display:block;
    position: absolute;
    top: 45px;
    left: 70px;
    z-index: 2;
}

@media screen and (max-width: 1024px) {
 
    h1 {
        font-size: 80px;
        margin: 20px 0;
    }


    a {
        display: block;
        margin: 10px auto;
        width: 80%;
        text-align: center;
    }
}


.arrowLeft,
.arrowRight {
    position: fixed;
    bottom: 20px;
    z-index: 9999;
}

.arrowLeft img,
.arrowRight img {
    width: 50px;      
    height: auto;
    display: block;
}

.arrowLeft {
    left: 20px;
}

.arrowRight {
    right: 20px;
}


