@font-face {
    font-family: Barrio;
    src: url("Barrio.woff") format("woff");

    font-family: JosefinSans;
    src: url(JosefinSans.woff) format("woff");
   
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #f0fff1;
}

.navbar {
    width: 100%;
    background-color: #1e5128; 
    padding: 10px 0;
    display: flex;
    gap: 12px; 
    align-items: center;
    justify-content: center; 
}


.navbar a {
    display: inline-block;
    font-family: "Josefin Sans";
    background-color: #ffffff; 
    color: #1e5128; 
    padding: 8px 20px;
    border-radius: 999px; 
    border: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: #80be85;
    color: #ffffff;
}

h1{
    color:#1e5128;
    text-align: center;
    font-family: JosefinSans;
    font-size: 60px;
    position: relative;
    top: 50px
}

p{
    color:#1e5128;
    text-align: center;
    font-family: JosefinSans;
    position: relative;
  
}


.container {
  position: relative;
  width: 500px;
  height: 800px; 
  margin: 40px auto 0 auto; 
}

.container div img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: auto;
}

.bread-top img {
  top: 0;
}


.tomato img {
  top:0
}

.cheese img {
  top:0
}

.beef img {
  top:0
}

.lettuce img {
  top:0
}

.bread-bottom img {
  top: 0
}

.container:hover .tomato img {
  transform: translate(-50%, 100px);
  transition: transform 0.3s ease;
}

.container:hover .cheese img {
  transform: translate(-50%, 200px);
  transition: transform 0.5s ease;
}

.container:hover .beef img {
  transform: translate(-50%, 300px);
  transition: transform 0.7s ease;
}

.container:hover .lettuce img {
  transform: translate(-50%, 400px);
  transition: transform 0.9s ease;
}

.container:hover .bread-bottom img {
  transform: translate(-50%, 500px);
  transition: transform 1.1s ease;
}



@media screen and (max-width: 1024px) {
 
    h1 {
        font-size: 80px;
        margin: 20px 0;
    }


    a {
        display: block;
        margin: 10px auto;
        width: 80%;
        text-align: center;
    }
}




