  @font-face {
    font-family: RocGrotesk-medium;
    src: url("rocgrotesk-medium.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-regular;
    src: url("rocgrotesk-regular.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-wide-black;
    src: url("rocgrotesk-wide-black.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-wide-reg;
    src: url("rocgrotesk-wide-reg.woff") format("woff");
   
}



body {
    background-color: #ff434a;
}


h1 {
    color:black;
    text-align: center;
    font-family:RocGrotesk-wide-black;
    font-size: 100px;
    margin-top: 120px;   
    margin-bottom: 20px;
}

.receiptText {
    margin-top: -1100px; 
}

h2 {
 color:black;
    text-align: center;
    font-family: RocGrotesk-wide-reg;
    font-size: 24px; 
}


.receipt {
    width: 1000px;
    display: block;
    margin: 0 auto; 
}

.receipt img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.receiptText h2 a {
    color: black;
    text-decoration: none;   
}

.receiptText h2 a:hover {
    color:#ff434a;
}


.arrowLeft,
.arrowRight {
    position: fixed;
    bottom: 20px;
    font-size: 40px;       
    font-weight: 300;      
    color: black;
    text-decoration: none;
    font-family: RocGrotesk-wide-reg;
    z-index: 9999;
}


.arrowLeft {
    left: 20px;
}


.arrowRight {
    right: 20px;
}




