@font-face {
    font-family: RocGrotesk-medium;
    src: url("rocgrotesk-medium.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-regular;
    src: url("rocgrotesk-regular.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-wide-black;
    src: url("rocgrotesk-wide-black.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-wide-reg;
    src: url("rocgrotesk-wide-reg.woff") format("woff");
   
}


body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
    padding-bottom: 200px;
}


.text h1 {
    color: #ffffff;
    font-family: RocGrotesk-wide-black;
    font-size: 120px;
    margin: 40px;
    position: relative;
    z-index: 5;
    animation: blink .5s infinite;
}



@keyframes blink {
  0% { opacity: 1; visibility: visible; }
  40% { opacity: 1; visibility: visible; }
  50% { opacity: 0; visibility: hidden; }
  90% { opacity: 0; visibility: hidden; }
  100% { opacity: 1; visibility: visible; }
}

.image-layer {
    position: relative;
}


.text-box {
    width: 33%;
    margin-top: 200px;
    padding-left: 50px;
    position: relative;
    top: -150px;
}

.text-box h3 {
    color: #ffffff;
    font-family: RocGrotesk-medium;
    font-size: 18px;
}

.text-box p {
    color: #ffffff;
    font-family: RocGrotesk-regular;
    font-size: 18px;
    line-height: 1.5;
}

.note {
    display: block;     
    margin-top: 12px; 
    font-size: 15px;  
    color: rgb(255, 51, 51);
    cursor: pointer;
    position: absolute;
    left: 660px
}

.note:hover {
    color: #E63946;
}


.death {
    position:absolute;
    top:20px;
    left:600px;
    width: 1050px;  
    height: 700px;  
    overflow:visible;
}

.death img {
 width: 1050px;
 pointer-events: none
}


.tomato {
 position: absolute;
 width: 100px;  
 pointer-events: none;           
 transform-origin: center;
}


.arrowLeft,
.arrowRight {
    position: fixed;
    bottom: 20px;
    font-size: 40px;       
    font-weight: 300;      
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: RocGrotesk-wide-reg;
    z-index: 9999;
}


.arrowLeft {
    left: 20px;
}


.arrowRight {
    right: 20px;
}


.arrowLeft,
.arrowRight {
    position: fixed;
    bottom: 20px;
    z-index: 9999;
}

.arrowLeft img,
.arrowRight img {
    width: 50px;      
    height: auto;
    display: block;
}

.arrowLeft {
    left: 20px;
}

.arrowRight {
    right: 20px;
}

