@font-face {
    font-family: RocGrotesk-medium;
    src: url("rocgrotesk-medium.woff") format("woff");
}

@font-face {
    font-family: RocGrotesk-regular;
    src: url("rocgrotesk-regular.woff") format("woff");
}

@font-face {
    font-family: RocGrotesk-wide-black;
    src: url("rocgrotesk-wide-black.woff") format("woff");
}

@font-face {
    font-family: RocGrotesk-wide-reg;
    src: url("rocgrotesk-wide-reg.woff") format("woff");
}





html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
    background: #fff;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    position: relative;


    min-height: 1800px;

   
    overflow: visible;
}




.left-section {
    position: relative;
    left: 80px;  
}

.left-section h1 {
    color: #000;
    font-family: RocGrotesk-wide-black;
    font-size: 120px;
    margin: 40px 0 0 30px;
    position: relative;
    z-index: 5;
}




.image-layer {
    position: relative;
}

.strawberryBig,
.strawberrySmall {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.strawberryBig {
    position: absolute;
    width: 600px;
    top: -600px;
    left: 650px;
    transform: rotate(20deg);
    z-index: 19;
    animation-name: bigSwap;
}

.strawberrySmall {
    position: absolute;
    width: 220px;
    top: -140px;
    left: 80px;
    transform: rotate(-20deg);
    filter: blur(5px);
    z-index: 1;
    animation-name: smallSwap;
}

@keyframes bigSwap {
    from { transform: rotate(20deg) scale(1); filter: blur(0); }
    to   { transform: rotate(20deg) scale(0.3); filter: blur(15px); }
}

@keyframes smallSwap {
    from { transform: rotate(-20deg) scale(1); filter: blur(5px); }
    to   { transform: rotate(-20deg) scale(2.3); filter: blur(0); }
}




.text {
    width: 100%;
    text-align: center;
    margin-top: 150px;
    margin-right: 10px;
    position: relative;
    z-index: 10;
}

.text h2 {
    font-family: RocGrotesk-medium;
    font-size: 28px;
    color: black;
    transform: translateX(-50px);
}

.bigWord {
    font-family: RocGrotesk-wide-black;
    color: #dd5b55;
}

.bigWord:hover {
    color: greenyellow;
}

.text-box {
    width: 33%;
    margin-top: 340px;
    padding-left: 50px;
    position: relative;
    z-index: 20;
}

.text-box h3 {
    color: #ffffff;
    font-family: RocGrotesk-medium;
    font-size: 24px;
    z-index: 20;
}

.text-box p {
    color: #ffffff;
    font-family: RocGrotesk-regular;
    font-size: 18px;
    line-height: 1.5;
    z-index: 20;
    margin-top: 20px;
}



.note {
    position: absolute;
    width: 100vw;     
    left: 50%;
    transform: translateX(-50%);
    top: 730px;
    z-index: 0;
    object-fit: cover;
}



.sprout {
    top: 1150px;
    width: 250px;
    position: absolute;
    right: 300px;
    z-index: 20;
}





.arrowLeft,
.arrowRight {
    position: fixed;
    bottom: 20px;
    z-index: 9999;
}

.arrowLeft img,
.arrowRight img {
    width: 50px;      
    height: auto;
    display: block;
}

.arrowLeft {
    left: 20px;
}

.arrowRight {
    right: 20px;
}
