@font-face {
    font-family: JosefinSans;
    src: url("JosefinSans.woff") format("woff");
   
}

.navbar {
    width: 100%;
    background-color: #1e5128; 
    padding: 10px 0;
    display: flex;
    gap: 12px; 
    align-items: center;
    justify-content: center; 
}


.navbar a {
    display: inline-block;
    font-family: "Josefin Sans";
    background-color: #ffffff; 
    color: #1e5128; 
    padding: 8px 20px;
    border-radius: 999px; 
    border: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: #80be85;
    color: #ffffff;
}


.text-box {
    width: 33.33%;        
    text-align: left;    
    padding: 20px;       
}

h1{
    color:#1e5128;
    font-family: JosefinSans;
    font-size: 60px;

}

p{
    color:#1e5128;
    font-family: JosefinSans;
   
  
}