  @font-face {
    font-family: RocGrotesk-medium;
    src: url("rocgrotesk-medium.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-regular;
    src: url("rocgrotesk-regular.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-wide-black;
    src: url("rocgrotesk-wide-black.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-wide-reg;
    src: url("rocgrotesk-wide-reg.woff") format("woff");
   
}


body {
    background-color: #dd5b55;
    overflow-y: hidden;
    overflow-x: hidden;
}


.plate img {
    width: 900px; 
    height: auto;
    display: block;
    margin: auto;
    top: 100px;
    position: relative;
    z-index: 1;
}

.fork img {
    position: absolute;
    left: 100px;  
    top: 140px;   
    width: 500px;
    z-index: 2;
}

.spoon img {
    position: absolute;
    right: 100px;   
    top: 150px;    
    width: 500px;
    z-index: 2;
}


.text-box {
    position: absolute;
    width: 380px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

p {
    color: black;
    font-family: RocGrotesk-regular;
    font-size: 14px;
    line-height: 1.4;
}

.Text1 {
    position: relative;
    left: 430px;
    top: -430px;
    color:black;
    font-family:RocGrotesk-regular;
    font-size: 15px;
    transform-origin: top left;
    transform: rotate(-60deg)

}


.Text2 {
    position: relative;
    left: 580px;
    top: -620px;
    color:black;
    font-family:RocGrotesk-regular;
    font-size: 15px;
    transform-origin: top left;
    transform: rotate(-15deg)

}

.Text3 {
    position: relative;
    left: 785px;
    top: -695px;
    color:black;
    font-family:RocGrotesk-regular;
    font-size: 15px;
    transform-origin: top left;
    transform: rotate(25deg)

}


.arrowLeft,
.arrowRight {
    position: fixed;
    bottom: 20px;
    z-index: 9999;
}

.arrowLeft img,
.arrowRight img {
    width: 50px;      
    height: auto;
    display: block;
}

.arrowLeft {
    left: 20px;
}

.arrowRight {
    right: 20px;
}

.fadeWord {
    opacity: 0;
}

.fadeWord.show {
    opacity: 1;
}

@media (min-width: 1024px) {
    body {
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .plate img {
        width: 900px;
        top: 100px;
    }

    .fork img {
        left: 100px;
        top: 140px;
        width: 500px;
    }

    .spoon img {
        right: 100px;
        top: 150px;
        width: 500px;
    }

    .text-box {
        width: 380px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .Text1 {
        left: 430px;
        top: -430px;
        transform: rotate(-60deg);
    }

    .Text2 {
        left: 580px;
        top: -620px;
        transform: rotate(-15deg);
    }

    .Text3 {
        left: 785px;
        top: -695px;
        transform: rotate(25deg);
    }
}


@media (max-width: 1023px) {
    body {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .plate img {
        width: 70%;
        top: 60px;
    }

    .fork img,
    .spoon img {
        width: 35%;
        top: 120px;
    }

    .text-box {
        width: 70%;
    }

    .Text1,
    .Text2,
    .Text3 {
        position: absolute;
        transform-origin: center;
        transform: rotate(0deg);
        font-size: 12px;
    }

    .Text1 { top: 65%; left: 20%; }
    .Text2 { top: 70%; left: 45%; }
    .Text3 { top: 75%; left: 70%; }
}
