@font-face {
    font-family: Westernia;
    src: url("Westernia.woff") format("woff");
   
}
h1{
    color:rgb(113, 49, 28);
    text-align: center;
    font-family: "Westernia";
    font-weight: bold;
}
h2{
    color:rgb(168, 71, 47);
    text-align: center;
    font-family: "Westernia";
    font-weight: normal;
}
h3{
    color:rgb(212, 94, 65);
    text-align: center;
     font-family: "Westernia";
    font-weight: lighter;
}

p{
    color:rgb(214, 89, 58);
    text-align: center;
}
body{
    background-color: rgb(255, 199, 181);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}