  @font-face {
    font-family: RocGrotesk-medium;
    src: url("rocgrotesk-medium.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-regular;
    src: url("rocgrotesk-regular.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-wide-black;
    src: url("rocgrotesk-wide-black.woff") format("woff");
   
}
  @font-face {
    font-family: RocGrotesk-wide-reg;
    src: url("rocgrotesk-wide-reg.woff") format("woff");
   
}


body {
    background-color: #ff434a;
}


.plate img {
    width: 900px; 
    height: auto;
    display: block;
    margin: auto;
    top: 100px;
    position: relative;
    z-index: 1;
}

.fork img {
    position: absolute;
    left: 100px;  
    top: 140px;   
    width: 500px;
    z-index: 2;
}

.spoon img {
    position: absolute;
    right: 100px;   
    top: 150px;    
    width: 500px;
    z-index: 2;
}


.text-box {
    position: absolute;
    width: 380px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

p {
    color: black;
    font-family: RocGrotesk-regular;
    font-size: 14px;
    line-height: 1.4;
}

.text1 {
    position: absolute;
    right: 100px;   
    top: 150px;    
    z-index: 4;
}

.arrowLeft,
.arrowRight {
    position: fixed;
    bottom: 20px;
    font-size: 40px;       
    font-weight: 300;      
    color: black;
    text-decoration: none;
    font-family: RocGrotesk-wide-reg;
    z-index: 9999;
}


.arrowLeft {
    left: 20px;
}


.arrowRight {
    right: 20px;
}


